.billet {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 38rem;
  padding: 3.7rem;

  border-radius: 99.9rem;
  overflow: hidden;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}