{{#extend "layout"}}
    {{#content "main"}}
        <section class="intro">
            <picture>
                <source srcset="img/intro-bg-mobile.jpg" media="(max-width: 420px)">
                <img class="intro__bg" src="img/intro-bg.jpg" alt="Умка">
            </picture>
            <div class="container">
                <div class="intro__inner">
                    <h1 class="intro__title main-title">Умка — Льдозаливочная машина для открытых арен </h1>
                    <div class="intro__footer">
                        <div class="intro__buttons">
                            <button class="intro__button-top button">
                                <span>Подберите УМКУ со скидкой 10%</span>
                                <svg>
                                    <use xlink:href="#gear-icon"></use>
                                </svg>
                            </button>
                            <button class="intro__button-bottom">
                                <svg class="intro__button-bottom-icon">
                                    <use xlink:href="#time-icon"></use>
                                </svg>
                                <span class="intro__button-bottom-text">предложение ограничено</span>
                                <span class="intro__button-bottom-timer">18:25:15</span>
                                <svg class="intro__button-bottom-bg">
                                    <use xlink:href="#timer-bg"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="intro__slider intro-slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="intro-slider__slide swiper-slide">
                                    <p>Обслуживает до 30 катков в день</p>
                                    <div class="intro-slider__progressbar">
                                        <div class="intro-slider__progressbar-progress"></div>
                                    </div>
                                </div>
                                <div class="intro-slider__slide swiper-slide">
                                    <p>Для заливки и чистки льда на открытых катках</p>
                                    <div class="intro-slider__progressbar">
                                        <div class="intro-slider__progressbar-progress"></div>
                                    </div>
                                </div>
                                <div class="intro-slider__slide swiper-slide">
                                    <p>Для заливки и чистки льда на открытых катках</p>
                                    <div class="intro-slider__progressbar">
                                        <div class="intro-slider__progressbar-progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intro__ribbon">
                            <p class="intro__ribbon-text">Лучшая альтернатива зарубежным аналогам</p>
                            <svg class="intro__ribbon-icon">
                                <use xlink:href="#rus-flag"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="container">
                <div class="features__inner">
                    <ul class="features__list">
                        <li>
                            <div class="features__item">
                                <div class="features__item-img">
                                    <img src="img/feature-1.png" alt="Фото преимущества">
                                </div>
                                <div class="features__item-content">
                                    <h3 class="features__item-title">
                                        <span>Умка решает любые поставленные задачи</span> от заливки льда, до мойки дорог
                                        и чистки снега
                                    </h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="features__item">
                                <div class="features__item-img">
                                    <img src="img/feature-2.png" alt="Фото преимущества">
                                </div>
                                <div class="features__item-content">
                                    <div class="features__item-text">
                                        <h3 class="features__item-title">
                                            Вместительнее аналогов на
                                        </h3>
                                        <ul class="features__item-stats">
                                            {{#each featureStats }}
                                                <li>
                                                    <div class="features__item-stat">
                                                        <span class="features__item-stat-number">{{this.number}}</span>
                                                        <p class="features__item-stat-text">{{this.text}}</p>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="features__item-number">
                                        <span>40%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="features__item">
                                <div class="features__item-img">
                                    <img src="img/feature-3.png" alt="Фото преимущества">
                                </div>
                                <div class="features__item-content">
                                    <div class="features__item-text">
                                        <h3 class="features__item-title">
                                            Выгоднее аналогов на
                                        </h3>
                                        <div class="features__item-benefit">
                                            <div class="features__item-benefit-img">
                                                <svg>
                                                    <use xlink:href="#bank-icon"></use>
                                                </svg>
                                            </div>
                                            <div class="features__item-benefit-text">
                                                <p>
                                                    616-е постановление правительства дает преференции 15% в цене
                                                    при участии в аукционах
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="features__item-number">
                                        <span>15%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}